<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="core" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreAdaptors_core" />
  <add name="master" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreAdaptors_master" />
  <add name="web" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreAdaptors_web" />
</connectionStrings>