<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Indexing.UpdateInterval">
        <patch:attribute name="value">00:00:00</patch:attribute>
      </setting>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="LayoutFolder">
        <patch:attribute name="value">/Views</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>